<div class="container mt-5">
  <h2 class="text-center">話題一覧</h2>
  <% @words.each do |word| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5><%= "話題：#{word.title}　備考：#{word.content}" %></h5>
        <%= link_to '詳細を見る', word_path(word), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <div class="text-center">
    <%= will_paginate @words, renderer: BootstrapPaginationRenderer, class: 'pagination-lg' %> <!-- ページネーションを表示 -->
  </div>
</div>
