<div class="container mt-5">
  <%= form_with(model: @genre, url: genres_path, local: true, class: "card p-4") do |form| %>
    <div class="form-group">
      <%= form.label :name, "ジャンル名" %>
      <%= form.text_field :name, placeholder: "ジャンル名を入力してください", class: "form-control" %>
    </div>
  <br>
    <%= form.submit "作成する", class: "btn btn-primary" %>
  <% end %>
</div>
