.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: white;
}

.nav-links ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

/*topページのCSS*/

.top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 画面の高さいっぱいに表示 */
}

.top-content img {
  max-width: 400px;
  max-height: 400px;
  width: auto;
  height: auto;
  margin-bottom: 20px;
}

.top-content p {
  font-size: 24px;
}